figure {
  grid-area: figure;
  text-align: center;
}

article {
  grid-area: article;
  margin: 50px 0;
  font-size: 14px;

  @extend %blog;
}

.category {
  margin: 10px 0;
  a {
    color: #626262;
    text-transform: uppercase;
  }
}

.blog-item {
  @extend %blog;
  img {
    width: 100%;
  }
}

.blog-item:nth-of-type(1) {
  grid-area: blog-item-1;
}

.blog-item:nth-of-type(2) {
  grid-area: blog-item-2;
}
